.service-container {
    max-width: 1040px;
}

.service-img {
    display: block;
    width: 55px;
    margin: 10px auto;
    margin-top: 20px;
}

.home-title {
    color: #203047;
    font-size: 34px;
}

.home-title-sub {
    color: #5fc7c7;
    font-size: 20px;
}